/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* COMMON */
.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  height: 100%;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* ------------ */
/* HEADER */
/* ------------ */
header {
  background-color: aqua;
  height: 60px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.menu-header i {
  color: white;
  font-size: 25px;
}
.ul-menu-header {
  display: none;
}
.ul-menu-header li {
  padding-left: 0.5rem;
}
.menu-header .menu-header-link {
  color: white;
}
/* ---------- */
/* MAIN */
/* ---------- */

/* Demo */
.demo {
  /* Test */
  background-color: aquamarine;
}
.demo-columns {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
}
.demo-col {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* Test */
  border: 1px dotted red;
  background-color: blueviolet;
}
.demo-card {
  text-align: center;
  padding: 0.5rem;
  border-radius: 20px;
  height: 100%;
  /* Test */
  background-color: cyan;
}
.big-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 20px;
  /* Test */
  background-color: cyan;
}
.demo-bigcard-right .demo-bigcard-left {
  width: 50%;
  flex-direction: column;
}
.demo-bigcard-left * {
  padding: 1rem;
}
.demo-bigcard-right {
  height: 100%;
  text-align: center;
}
.demo-bigcard-right img {
  height: 200px;
  width: auto;
}
.card-icon {
  color: white;
  font-size: 2em;
}
/* Planning */
.planning {
  /* Test */
  background-color: coral;
  /* height: 100%; */
}
.planning-columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.planning-col {
  width: 100%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  /* height: 50%; */
  /* Test */
  border: 1px dotted purple;
}
.planning-col img {
  width: 50%;
  height: auto;
}
.planning-card-right {
  background-color: white;
  border-radius: 20px;
  /* text-align: justify; */
  text-align: center;
  padding: 1rem;
}
.planning-card-left {
  color: white;
  padding: 1rem;
}
.planning-card-right *,
.planning-card-left * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.arrow-circle {
  background-color: darkmagenta;
  border-radius: 50%;
  color: black;
  padding: 1rem 1.2rem;
  font-size: 1rem;
}
/* Testimonials */
.testimonial {
  background-color: khaki;
}
.testimonial-columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.testimonial-col {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* Test */
  border: 1px dotted red;
}
.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
}
.testimonial-card-text {
  text-align: center;
  padding: 2rem;
}
.testimonial-card-text * {
  padding: 1rem 0;
}
.testimonial-card-text h2 {
  color: blue;
  font-size: 2.5em;
}
.testimonial-card-right {
  padding: 2rem;
}
.testimonial-card-right * {
  padding: 1rem 0;
}
.square-box {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.square-box img {
  height: 100%;
  object-fit: cover;
  width: 200px;
}
/* Benefits */
.benefits {
  /* Test */
  background-color: darkgrey;
  padding: 2rem 0;
}
.benefits h2 {
  text-align: center;
}
.benefit-columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.benefit-col {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
.benefit-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: blueviolet;
  border-radius: 20px;
}
.benefit-card * {
  padding: 0.5rem 0;
}
.benefit-card h3 {
  font-size: 1.5rem;
  color: darkmagenta;
}
.benefit-number {
  font-size: 2rem;
  color: darkmagenta;
}
.benefit-text {
  padding-bottom: 1rem;
}
/* About */
.about {
  padding: 2rem 0;
  /* Test */
  background-color: darkkhaki;
}
.about-columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-col-left .about-col-right {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
.about-card-left,
.about-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem;
}
.about-quote {
  font-size: 1.6rem;
  font-weight: 800;
  color: aqua;
}
.about-card-left * {
  padding: 1.5rem 0;
}
.about-card-left h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: darkmagenta;
}
.about-card-right p {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
/* BUTTONS */
.btn-small {
  padding: 0.5rem;
  border-radius: 0.8rem;
}
.btn-white {
  background-color: white;
  color: black;
}
.btn-purple {
  background-color: darkmagenta;
  color: white;
}
.quote-pic {
  position: absolute;
  z-index: 1;
  top: 15%;
  right: 10%;
  font-size: 3rem;
  color: darkmagenta;
}
/* 
****************************
****SOLUZIONI RESPONSIVE****
**************************** */

/* DA QUI TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 991px;
  }
  .big-card {
    flex-direction: row;
  }
  .demo-columns {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .demo-col {
    width: calc(100% / 3);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .demo-columns .large {
    width: calc((100% / 3) * 2);
  }
  .demo-bigcard-right img {
    height: auto;
    width: 100%;
  }
  .testimonial-card {
    flex-direction: row;
  }
  .testimonial-card-right {
    width: 70%;
    text-align: left;
  }
  .benefit-columns {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .benefit-col {
    width: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .about-col-left,
  .about-col-right {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .about-col-right {
    width: 35%;
  }
  .about-columns {
    flex-direction: row;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}

/* DA QUI DESKTOP */
@media screen and (min-width: 992px) {
  .container {
    width: 90%;
  }
  .menu-header i {
    display: none;
  }
  .ul-menu-header {
    display: flex;
    justify-content: space-between;
  }
  .planning-columns {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    padding: 0;
  }
  .planning-col {
    width: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .benefit-col {
    width: calc(100% / 3);
  }
}
